<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Alexo</title>
    {% else %}
        <title>Alexo</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
</head>
<body>
    <div class="navigation">
        <a href="{{ url_for('add_client') }}">Добавить клиента</a>
    </div>

    <div class="main">
        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>