{% extends "base.html" %}

{% block content %}
    <div class="clients-content">

        <div class="inf-row">
            <div class="name-of-inf-row">
                Фамилия:
            </div>
            <div>
                {{ results_entity[1] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Имя:
            </div>
            <div>
                {{ results_entity[2] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Отчество:
            </div>
            <div>
                {{ results_entity[3] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Тип:
            </div>
            <div>
                {{ results_entity[4] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Номер:
            </div>
            <div>
                {{ results_entity[5] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Компания:
            </div>
            <div>
                {{ results_entity[6] }}
            </div>
        </div>

      <div class="inf-row">
            <div class="name-of-inf-row">
                ИНН:
            </div>
            <div>
                {{ results_entity[7] }}
            </div>
        </div>
    </div>
{% endblock %}