{% extends "base.html" %}

{% block content %}
    <div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Фамилия:
            </div>
            <div>
                {{ results_phys[1] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Имя:
            </div>
            <div>
                {{ results_phys[2] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Отчество:
            </div>
            <div>
                {{ results_phys[3] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Тип:
            </div>
            <div>
                {{ results_phys[4] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Номер:
            </div>
            <div>
                {{ results_phys[5] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Адрес:
            </div>
            <div>
                {{ results_phys[6] }}
            </div>
        </div>
    </div>
{% endblock %}