{% extends "base.html" %}

{% block content %}
    <div class="clients-content">
        <h1 class="page-title">Информация об объекте</h1>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Вид помещения:
            </div>
            <div>
                {{ inf_reo[1] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Тип операции:
            </div>
            <div>
                {{ inf_reo[2] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Район:
            </div>
            <div>
                {{ inf_reo[3] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Адрес:
            </div>
            <div>
                {{ inf_reo[4] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Фамилия сотрудника:
            </div>
            <div>
                {{ inf_emp[1] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Имя сотрудника:
            </div>
            <div>
                {{ inf_emp[2] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Отчество сотрудника:
            </div>
            <div>
                {{ inf_emp[3] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Этаж:
            </div>
            <div>
                {{ inf_reo[6] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Комнаты:
            </div>
            <div>
                {{ inf_reo[7] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Интернет:
            </div>
            <div>
                {{ inf_reo[8] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Мебель:
            </div>
            <div>
                {{ inf_reo[9] }}
            </div>
        </div>

        <div class="inf-row">
            <div class="name-of-inf-row">
                Цена:
            </div>
            <div>
                {{ inf_reo[10] }} ₽
            </div>
        </div>

        <div class="name-viewing-history">История просмотра</div>


        <div>
            {% if viewing_history %}
            <table>
                <thead>
                    <tr>
                        <th>
                           Фамилия
                        </th>
                        <th>
                            Имя
                        </th>
                        <th>
                           Отчество
                        </th>
                        <th>
                            Дата
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for res in viewing_history%}
                    <tr>
                        <td>
                            {{ res[1] }}
                        </td>
                        <td>
                            {{ res[2] }}
                        </td>
                        <td>
                            {{ res[3] }}
                        </td>
                        <td>
                           {{ res[4] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="absent">История просмотра отсутствует</div>
            {% endif %}
        </div>


        <div class="viewing-history-add">
            <a href="{{ url_for('add_viewing_history', reo_number=inf_reo[0], reo_address=inf_reo[4], emp_number=inf_emp[0] )}}">Добавить историю просмотра</a>
        </div>


        <div>
            <form method="post">
                <input class="delete-button" type="submit" value="Удалить объект">
            </form>
        </div>
    </div>
{% endblock %}